--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asistencia_sesion; Type: TABLE; Schema: public; Owner: faceuser
--

CREATE TABLE public.asistencia_sesion (
    id integer NOT NULL,
    id_usuario integer NOT NULL,
    fecha_sesion timestamp without time zone NOT NULL,
    presente boolean NOT NULL,
    tardanza boolean NOT NULL,
    tiempo_presente integer NOT NULL,
    tiempo_ausente integer NOT NULL,
    id_inscripcion integer
);


ALTER TABLE public.asistencia_sesion OWNER TO faceuser;

--
-- Name: asistencia_sesion_id_seq; Type: SEQUENCE; Schema: public; Owner: faceuser
--

CREATE SEQUENCE public.asistencia_sesion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.asistencia_sesion_id_seq OWNER TO faceuser;

--
-- Name: asistencia_sesion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faceuser
--

ALTER SEQUENCE public.asistencia_sesion_id_seq OWNED BY public.asistencia_sesion.id;


--
-- Name: clases; Type: TABLE; Schema: public; Owner: faceuser
--

CREATE TABLE public.clases (
    id_clase integer NOT NULL,
    nombre_clase text NOT NULL,
    descripcion text,
    id_docente integer NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now()
);


ALTER TABLE public.clases OWNER TO faceuser;

--
-- Name: clases_id_clase_seq; Type: SEQUENCE; Schema: public; Owner: faceuser
--

CREATE SEQUENCE public.clases_id_clase_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.clases_id_clase_seq OWNER TO faceuser;

--
-- Name: clases_id_clase_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faceuser
--

ALTER SEQUENCE public.clases_id_clase_seq OWNED BY public.clases.id_clase;


--
-- Name: inscripciones; Type: TABLE; Schema: public; Owner: faceuser
--

CREATE TABLE public.inscripciones (
    id_inscripcion integer NOT NULL,
    id_sesion integer NOT NULL,
    id_usuario integer NOT NULL,
    estado character varying(50) DEFAULT 'activo'::character varying NOT NULL
);


ALTER TABLE public.inscripciones OWNER TO faceuser;

--
-- Name: inscripciones_id_inscripcion_seq; Type: SEQUENCE; Schema: public; Owner: faceuser
--

CREATE SEQUENCE public.inscripciones_id_inscripcion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inscripciones_id_inscripcion_seq OWNER TO faceuser;

--
-- Name: inscripciones_id_inscripcion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faceuser
--

ALTER SEQUENCE public.inscripciones_id_inscripcion_seq OWNED BY public.inscripciones.id_inscripcion;


--
-- Name: rostros; Type: TABLE; Schema: public; Owner: faceuser
--

CREATE TABLE public.rostros (
    id integer NOT NULL,
    nombre text NOT NULL,
    vector double precision[] NOT NULL
);


ALTER TABLE public.rostros OWNER TO faceuser;

--
-- Name: rostros_id_seq; Type: SEQUENCE; Schema: public; Owner: faceuser
--

CREATE SEQUENCE public.rostros_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rostros_id_seq OWNER TO faceuser;

--
-- Name: rostros_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faceuser
--

ALTER SEQUENCE public.rostros_id_seq OWNED BY public.rostros.id;


--
-- Name: sesiones; Type: TABLE; Schema: public; Owner: faceuser
--

CREATE TABLE public.sesiones (
    id_sesion integer NOT NULL,
    id_docente integer,
    nombre_sesion text NOT NULL,
    fecha_hora_inicio timestamp without time zone NOT NULL,
    fecha_hora_fin timestamp without time zone NOT NULL,
    descripcion text
);


ALTER TABLE public.sesiones OWNER TO faceuser;

--
-- Name: sesiones_id_sesion_seq; Type: SEQUENCE; Schema: public; Owner: faceuser
--

CREATE SEQUENCE public.sesiones_id_sesion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sesiones_id_sesion_seq OWNER TO faceuser;

--
-- Name: sesiones_id_sesion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faceuser
--

ALTER SEQUENCE public.sesiones_id_sesion_seq OWNED BY public.sesiones.id_sesion;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: faceuser
--

CREATE TABLE public.usuarios (
    id_usuario integer NOT NULL,
    nombre_completo text NOT NULL,
    correo character varying(255) NOT NULL,
    contrasena_hash character varying(255) NOT NULL,
    fecha_registro timestamp without time zone DEFAULT now(),
    estado boolean DEFAULT true,
    rol character varying(50) DEFAULT 'alumno'::character varying NOT NULL
);


ALTER TABLE public.usuarios OWNER TO faceuser;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: faceuser
--

CREATE SEQUENCE public.usuarios_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_usuario_seq OWNER TO faceuser;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faceuser
--

ALTER SEQUENCE public.usuarios_id_usuario_seq OWNED BY public.usuarios.id_usuario;


--
-- Name: vectores_faciales; Type: TABLE; Schema: public; Owner: faceuser
--

CREATE TABLE public.vectores_faciales (
    id_vector integer NOT NULL,
    id_usuario integer NOT NULL,
    vector double precision[] NOT NULL,
    fecha_registro timestamp without time zone DEFAULT now()
);


ALTER TABLE public.vectores_faciales OWNER TO faceuser;

--
-- Name: vectores_faciales_id_vector_seq; Type: SEQUENCE; Schema: public; Owner: faceuser
--

CREATE SEQUENCE public.vectores_faciales_id_vector_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.vectores_faciales_id_vector_seq OWNER TO faceuser;

--
-- Name: vectores_faciales_id_vector_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faceuser
--

ALTER SEQUENCE public.vectores_faciales_id_vector_seq OWNED BY public.vectores_faciales.id_vector;


--
-- Name: asistencia_sesion id; Type: DEFAULT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.asistencia_sesion ALTER COLUMN id SET DEFAULT nextval('public.asistencia_sesion_id_seq'::regclass);


--
-- Name: clases id_clase; Type: DEFAULT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.clases ALTER COLUMN id_clase SET DEFAULT nextval('public.clases_id_clase_seq'::regclass);


--
-- Name: inscripciones id_inscripcion; Type: DEFAULT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.inscripciones ALTER COLUMN id_inscripcion SET DEFAULT nextval('public.inscripciones_id_inscripcion_seq'::regclass);


--
-- Name: rostros id; Type: DEFAULT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.rostros ALTER COLUMN id SET DEFAULT nextval('public.rostros_id_seq'::regclass);


--
-- Name: sesiones id_sesion; Type: DEFAULT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.sesiones ALTER COLUMN id_sesion SET DEFAULT nextval('public.sesiones_id_sesion_seq'::regclass);


--
-- Name: usuarios id_usuario; Type: DEFAULT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuarios_id_usuario_seq'::regclass);


--
-- Name: vectores_faciales id_vector; Type: DEFAULT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.vectores_faciales ALTER COLUMN id_vector SET DEFAULT nextval('public.vectores_faciales_id_vector_seq'::regclass);


--
-- Data for Name: asistencia_sesion; Type: TABLE DATA; Schema: public; Owner: faceuser
--

COPY public.asistencia_sesion (id, id_usuario, fecha_sesion, presente, tardanza, tiempo_presente, tiempo_ausente, id_inscripcion) FROM stdin;
2	5	2025-05-21 16:15:22.756637	t	f	3600	300	\N
3	5	2025-05-21 16:18:52.047599	t	f	140	0	\N
4	5	2025-05-24 10:41:14.843239	t	f	84	0	\N
5	5	2025-05-24 10:49:54.660627	t	f	393	0	\N
6	6	2025-05-24 10:49:54.660627	t	f	2	165	\N
7	9	2025-05-24 10:56:30.2301	t	f	42	0	\N
8	5	2025-05-24 10:56:30.2301	t	f	20	10	\N
\.


--
-- Data for Name: clases; Type: TABLE DATA; Schema: public; Owner: faceuser
--

COPY public.clases (id_clase, nombre_clase, descripcion, id_docente, fecha_creacion) FROM stdin;
3	Matem├íticas B├ísicas	Clase introductoria de matem├íticas	5	2025-05-24 12:40:43.829624
\.


--
-- Data for Name: inscripciones; Type: TABLE DATA; Schema: public; Owner: faceuser
--

COPY public.inscripciones (id_inscripcion, id_sesion, id_usuario, estado) FROM stdin;
\.


--
-- Data for Name: rostros; Type: TABLE DATA; Schema: public; Owner: faceuser
--

COPY public.rostros (id, nombre, vector) FROM stdin;
13	Juan Perez	{0.1,0.2,0.3,0.4,0.5}
\.


--
-- Data for Name: sesiones; Type: TABLE DATA; Schema: public; Owner: faceuser
--

COPY public.sesiones (id_sesion, id_docente, nombre_sesion, fecha_hora_inicio, fecha_hora_fin, descripcion) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: faceuser
--



--
-- Data for Name: vectores_faciales; Type: TABLE DATA; Schema: public; Owner: faceuser
--



--
-- Name: asistencia_sesion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faceuser
--

SELECT pg_catalog.setval('public.asistencia_sesion_id_seq', 8, true);


--
-- Name: clases_id_clase_seq; Type: SEQUENCE SET; Schema: public; Owner: faceuser
--

SELECT pg_catalog.setval('public.clases_id_clase_seq', 3, true);


--
-- Name: inscripciones_id_inscripcion_seq; Type: SEQUENCE SET; Schema: public; Owner: faceuser
--

SELECT pg_catalog.setval('public.inscripciones_id_inscripcion_seq', 1, false);


--
-- Name: rostros_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faceuser
--

SELECT pg_catalog.setval('public.rostros_id_seq', 13, true);


--
-- Name: sesiones_id_sesion_seq; Type: SEQUENCE SET; Schema: public; Owner: faceuser
--

SELECT pg_catalog.setval('public.sesiones_id_sesion_seq', 1, false);


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: faceuser
--

SELECT pg_catalog.setval('public.usuarios_id_usuario_seq', 9, true);


--
-- Name: vectores_faciales_id_vector_seq; Type: SEQUENCE SET; Schema: public; Owner: faceuser
--

SELECT pg_catalog.setval('public.vectores_faciales_id_vector_seq', 74, true);


--
-- Name: asistencia_sesion asistencia_sesion_pkey; Type: CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.asistencia_sesion
    ADD CONSTRAINT asistencia_sesion_pkey PRIMARY KEY (id);


--
-- Name: clases clases_pkey; Type: CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.clases
    ADD CONSTRAINT clases_pkey PRIMARY KEY (id_clase);


--
-- Name: inscripciones inscripciones_pkey; Type: CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.inscripciones
    ADD CONSTRAINT inscripciones_pkey PRIMARY KEY (id_inscripcion);


--
-- Name: rostros rostros_pkey; Type: CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.rostros
    ADD CONSTRAINT rostros_pkey PRIMARY KEY (id);


--
-- Name: sesiones sesiones_pkey; Type: CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.sesiones
    ADD CONSTRAINT sesiones_pkey PRIMARY KEY (id_sesion);


--
-- Name: usuarios usuarios_correo_key; Type: CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_correo_key UNIQUE (correo);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: vectores_faciales vectores_faciales_pkey; Type: CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.vectores_faciales
    ADD CONSTRAINT vectores_faciales_pkey PRIMARY KEY (id_vector);


--
-- Name: asistencia_sesion asistencia_sesion_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.asistencia_sesion
    ADD CONSTRAINT asistencia_sesion_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: clases clases_id_docente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.clases
    ADD CONSTRAINT clases_id_docente_fkey FOREIGN KEY (id_docente) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: asistencia_sesion fk_asistencia_inscripcion; Type: FK CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.asistencia_sesion
    ADD CONSTRAINT fk_asistencia_inscripcion FOREIGN KEY (id_inscripcion) REFERENCES public.inscripciones(id_inscripcion) ON DELETE CASCADE;


--
-- Name: inscripciones inscripciones_id_sesion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.inscripciones
    ADD CONSTRAINT inscripciones_id_sesion_fkey FOREIGN KEY (id_sesion) REFERENCES public.sesiones(id_sesion) ON DELETE CASCADE;


--
-- Name: inscripciones inscripciones_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.inscripciones
    ADD CONSTRAINT inscripciones_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: sesiones sesiones_id_docente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.sesiones
    ADD CONSTRAINT sesiones_id_docente_fkey FOREIGN KEY (id_docente) REFERENCES public.usuarios(id_usuario);


--
-- Name: vectores_faciales vectores_faciales_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faceuser
--

ALTER TABLE ONLY public.vectores_faciales
    ADD CONSTRAINT vectores_faciales_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

